.detalle-fuego {
    margin-top: 10px;
}
.detalle-fuego span {
    padding: 4px 5px;
    color: #fff;
    background-color: #c50000;
    border-radius: 4px;
}
.detalle-fuego span:nth-child(2) {
    background-color: #ff5722;
}

.detalle-electrico {
    margin-top: 10px;
}

.detalle-electrico span {
    padding: 4px 5px;
    color: black;
    background-color: yellow;
    border-radius: 4px;
}
.detalle-electrico span:nth-child(2) {
    background-color: #ff5722;
}

.detalle-agua {
    margin-top: 10px;
}

.detalle-agua span {
    padding: 4px 5px;
    color: black;
    background-color: rgb(0, 140, 255);
    border-radius: 4px;
}
.detalle-agua span:nth-child(2) {
    background-color: #ff5722;
}

.detalle {
    background-color: grey;
}